**/*/workspace.xml
materialy/
dokumenty/
roznice_dzielone.png
szablontex-poprawione_litery.txt
PracaMagisterska/*.fdb_latexmk
PracaMagisterska/*.toc
PracaMagisterska/*.fls
PracaMagisterska/*.aux
PracaMagisterska/*.gz
PracaMagisterska/*.log
PracaMagisterska/__latexindent_temp.tex
