Materialy/
WersjePdf/
Dokumenty/
Screenshots/
Tresc/*.fdb_latexmk
Tresc/*.toc
Tresc/*.fls
Tresc/*.aux
Tresc/*.gz
Tresc/*.log
Tresc/__latexindent_temp.tex
Implementacje/data/
WzorPracy/

__pycache__/

.vscode/

.idea/
**/*/workspace.xml